.TodoTemplate{
  width: 512px;
  margin: 6rem auto 0px;
  border-radius: 4px;
  overflow: hidden;
}
.app-title{
  background-color: rgb(109, 101, 101);
  color: black;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  background-color: white;
  border: 1px solid black;
}